.nav-bar-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #0289d1;
  border-bottom: 3px solid #FFB81C;
}

.nav-bar-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  background-color: white;
}

.about-us-layout {
  display: flex;
  justify-content: center;
}

.title-layout {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-hover:hover .spin-on-hover {
  animation: spin 0.8s ease;
}
