.recipe-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipes-layout-title-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.recipe-card {
  cursor: pointer;
  text-decoration: none;
}

.selected-recipe-layout {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
}

.ingredient-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.selected-recipe-view-grid {
  display: flex;
  flex-direction: column;
}

.selected-recipe-img {
  width: 200px;
  height: auto;
  border: 3px solid black;
  border-radius: 200px;
  margin-bottom: 2%;
}

.agregar-a-list-button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #0289d1;
  &:hover {
    background-color: #522719;
  }
}

.recipes-titles {
}

.recipes-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 2%;
}

.error-message {
  color: red;
  font-size: 1.5em;
  align-items: "center";
}

.loading-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
}

.error-loading-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.alert-box {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 16px;
}

.selected-recipe-list-prices {
  max-height: 250px;
  overflow-y: visible;
}

.recipe-item-layout {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
