.selected-product-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-product-view-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-product-img {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.selected-product-title-prices-container {
}

.selected_product-title {
  text-align: center;
}

.selected-product-list-prices {
  max-height: 250px;
  overflow-y: auto;
}

.price-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.price-column-cheapest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  height: 90%;
  border: 3px;
  border-style: solid;
  border-color: #ffd700;
  transition: transform 0.3s ease-in-out !important;
}

.more-items-icon {
  display: flex;
  justify-content: right;
}
.button-container {
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.add-to-list-button-container {
  background-color: #0289d1;
}

.remove-to-list-button-container {
  background-color: #e77c74;
}

.button-text {
  color: white;
  text-align: center;
}
