.selected-product-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-product-view-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-product-img {
  max-width: 200px;
  height: auto;
  border-radius: 30px;
}
