.compare-layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-layout {
    margin-top: 1%;
    margin-bottom: 1%;
}

.product-layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
}

.product-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.row-image {
    width: 10%; /* Suma 100 con market-row y row-actions*/
    display: flex;
    justify-content: center;
}

.row-actions {
    width: 10%; /* Suma 100 con market-row e imagen*/
    display: flex;
    flex-direction: column;
}

.market-row {
    width: 80%; /* Suma 100 con row-actions e imagen*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
