.price-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.price-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    height: 90%;
    padding: 5%;
    transition: transform 0.3s ease-in-out;
}

.price-column:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.price-column-selected {
    transform: scale(1.1);
    border: 3px;
    border-style: solid;
    border-color: #FFD700;
    cursor: pointer
}

.price {
    padding: 5%;
}
